<!DOCTYPE html>
<html>
  <head>
    <title>Ongata Rongai Special Home Care and Training Centre</title>

    <!-- Meta tags used to specify page description -->
    <meta name="keywords" content="donate, disability,special homes,"/>
    <meta name="description" content="This is a non-profit for children with disabilities in Kenya"/>
    <!--step one:view will adjust to each device-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!--stylesheets -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.7/gridlex.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles/style.css">

    <!--Scripts  -->

  </head>
  <!--Wep page begins here -->
  <body>
    <header id="home">
      <div class="imagecover">
          <!--This is where the heading start-->
      <div class="grid">
        <div class="col-5_sm-12">
            <h1> Ongata Rongai <br>Special Home Care<br>
              & Training Centre </h1>
        </div>

        <!--the hashtags calls the ids-->
        <div class="col-7_sm-7 right">
            <nav>
              <a href="#home">HOME</a>
              <a href="#whatwedo">WHAT WE DO</a>
              <a href="#getinvolved">GET INVOLVED</a>
              <a href="https://www.facebook.com/pg/OngataRongaiSpecialHomeCareAndTrainingCentre/about/?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i> Follow us</a>
            </nav>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

      </div>

      <!--homepage picture-->

      <div class="col-12_sm-12 description nopadding">
        <p class="padded-10"> ORHSC is a boarding and educational facility located outside of Nairobi, Kenya. Our residents are children and adults with disabilities.
        </p>
      </div>
</div>
    </header>

    {{content}}

 <footer id="getinvolved" class="grid">
  <div class="col-12_sm-12">
   <h2>Contact us</h2>
 </div>
  <div class="col-6_sm-12 padded">
      <form class="grid" method="POST" action="http://formspree.io/margaretnyakio18@yahoo.com">
        <div class="col-12_sm-12">
          <label>Your Name</label>
          <input type="name" name="name" placeholder="Your name">
        </div>
        <div class="col-12_sm-12">
          <label>Your Email</label>
          <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="col-12_sm-12">
          <label>How you can help?</label>
          <select required>
            <option value="undecided">Click to Choose</option>
            <option value="donation">Give donation</option>
            <option value="volunteering">Volunteer with us.</option>
            <option value="information">Visit us</option>
          </select>
        </div>
        <div class="col-12_sm-12">
          <label>Your message to us</label>
          <textarea name="message" placeholder=""></textarea>
        </div>
        <div class="col-12_sm-12">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="col-6_sm-12 padded left">
        <p> We'd love for you to get in touch, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p> Email: <a href="mailto:ongataspecialhome@yahoo.com"> ongataspecialhome@yahoo.com
        </a>
      </p>
        <p> Tel:
        <a href="tel:+2540725745184"> +254-0725-745-184
        </a>
      </p>
      </div>
      <div class="col-12">
        <p class="center">&copy; Copyright 2017 </p>
      </div>
  </footer>
  <!--navigation for mobile media-->
  <nav id="mobile-nav">
    <a href="#home">HOME</a>
    <a href="#whatwedo">WHAT WE DO</a>
    <a href="#aboutus">ABOUT US</a>
    <a href="#getinvolved">GET INVOLVED</a>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
