/* General styles          */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  /*font-family for entire webpge*/

  padding-left: 10%;
  padding-right: 10%;
  }

h1,h2,h3{
  font-family: 'Merriweather', sans-serif;
  /*Font family for header*/
  }
  h4{
    font-size:20px;
  }
p,a{
font-family: 'Open Sans', serif;
line-height:1.9;
  }
a{
  text-decoration: none; /* remove underline from anchor links */
  padding-top: 8%;
  }
/*header Styles*/
header  h1 nav a {
  font-family: 'Lato', sans-serif;
  background-color: #45BFB2;
  }
/* navigation links*/
nav{
  display:flex; /*create a flex layout context */

  }
nav a{
  /*links inside navigation*/
  padding-left: 10px;
  flex-grow: 1 /* distribute the spaces equally */

  }
  #home img{
    width:100%;
  }
  /* section front page */

/* section #about */
#about img{
  width:100%;
  }
/* section form*/
#getinvolved{
  background-color: #BEBFA9;
}

#getinvolved label{
  display:block;

  }
#getinvolved input{
  padding:10px;
  width:100%;

  }
#getinvolved textarea{
  max-width:300px;
  padding: 8px;

  }

#contact{
  margin-right: auto;
  }


/*footer styles*/
footer{
  display:block;
  text-align: center;
  background-color: #45BFB2;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: none;
 }

  footer{
    display:block;
    padding:1%;

  }


/*RESPONSIVE STYLES*/
