/* General styles          */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

section, footer{
  /*font-family for entire webpge*/

  padding-left: 10%;
  padding-right: 10%;
  }

h1,h2,h3{
  font-family: 'Merriweather', sans-serif;
  padding:2% 0;
  /*Font family for header*/
  }
  h3{
   font-family: 'Lato', sans-serif;
   text-align: center;

  }
  p{
    padding-top: 2%;
  }
p,a,ul{
font-family: 'Open Sans', serif;
line-height:1.9;
  }
a{
  text-decoration: none; /* remove underline from anchor links */
  padding-top: 8%;
  color:inherit;
  }
a:hover{
  color:#FFC473;
}


  .imagecover{
    background-color: rgba(2, 195, 154, 0.5)
  }
/*header Styles*/
header{
  background-image:url("../images/firstpage.jpg");
  min-height: 100vh;
  background-size: cover;
  display:flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
footer {
  font-family: 'Lato', sans-serif;
  background-color: #3097A4;
  }
/* navigation links*/
nav{
  display:flex;
  background-color:rgba(2, 195, 154, 0.5)

   padding-bottom: 2%;
   /*create a flex layout context */

  }
nav a{
  /*links inside navigation*/
  padding-left: 10px;
  flex-grow: 1 ;


  /* distribute the spaces equally */

  }
  /* all images  */
  img{
    width:100%;
  }
  /* section front page */
.description p{
  padding: 2%;
  background-color: rgba(2, 195, 154,  0.5);

}

/*wishlist*/
#wishlist h2{
  text-align: center;
}
  #wishlist h2:hover{
    color:#FFC473;
  }

.wishpic{
  height:30vw;
  width:30vw;
  border-radius: 50%;
  background-size: cover;
}

.books{background-image: url(/images/exercisebook.jpg);}

.food{background-image: url(/images/food.jpg);}

.shoes{background-image: url(/images/shoes.jpg);}

.beddings{background-image: url(/images/beddings.jpg);}

.wheelchairs{background-image: url(/images/wheelchair.jpg);}

.workers{background-image: url(/images/workers.jpg);}


/* section form*/
#getinvolved{
  padding-top: 19px;
  background-color: #BEBFA9;
}

#contact{
  margin-right: auto;
  }


/*footer styles*/
footer{
  display:block;
  text-align: center;
  background-color: #45BFB2;
  padding-top: 40px;
  padding-bottom: 10px;
  text-decoration: none
 }
 label{
   width:100%;
 }
 input{
   width:100%;
   padding:1%;
 }

  select{
    width:100%;
  }
  textarea{
    width:100%;
    padding:5%;
  }
  button{
    padding:3% 3%;
  }
  button:hover{
    background-color: #FFC473;
  }

/*RESPONSIVE STYLES*/
